body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    height: 100vh;
    background-color: #fdf7fa;
    justify-content: center;
}

.navbar {
    background-color: #60435f;
    overflow: hidden;
    min-width: 100vw;
    margin: 0 auto;
    height: fit-content;
}

.navbar a[name='item'] {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

.navbar a[name='logo'] {
    float:right;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

.account-dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.account-dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-stuff {
    display: none;
    position: absolute;
    background-color: #fdf7fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000020;
    z-index: 1;
}

.dropdown-stuff a[name='item'] {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.account-dropdown:hover .dropdown-stuff{
    display: block;
}

.navbar a[name='item']:hover, .account-dropdown:hover .dropbtn:hover {
    background-color: #d67ab1;
    color: black;
}

.bad-alert {
    padding: 16px;
    background-color: #ffb9b9;
    color: #6f3333;
    margin-bottom: 20px;
}

.good-alert {
    padding: 16px;
    background-color: #abffbd;
    color: #3a7446;
    margin-bottom: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.bad-alert .closebtn:hover {
    color: #6f3333;
}

.good-alert .closebtn:hover {
    color: #3a7446;
}

.content-container {
    align-items: center;
}

table {
    border-collapse: collapse;
    width:75%
}

td, th {
    border: 1px solid #d67ab1;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eedce5;
}