body {
    align-items: center;
    justify-content: center;
}

.logincontainer {
    background-color: #ffffff ;
    width: 350px;
    height:225px;
    padding: 12px 20px;
}

form {
    border: 3px solid #1b305c;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 4px;
}

button {
    padding: 4px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

h1 {
    text-align: center;
}

span.pass {
    float: right;
    padding-bottom: 16px;
}

span.create {
    float: left;
    padding-bottom: 16px;
}