<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="../static/styles/basestyle.css">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
    
    </head>

    <body>

        <nav>

            <ul class="navbar">

                <!-- Ordered this way because html processes line breaks weird for padding if I line break each a item -->
                <li><a href="#home">Home</a></li> <li><a href="#contact">Contact</a></li> <li><a href="#account">Account</a></li>
            
            </ul>

        </nav>


    </body>
</html>