<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="../static/styles/basestyle.css">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
    
    </head>

    <body>

        <div class="navbar">
            <a href="/">Home</a>
            <a href="contact">Contact</a>
            <div class="account-dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-stuff">
                    <a href="login">Login</a>
                    <a href="change_password">Change Password</a>
                    <a href="logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="content-container">{% block content %}{% endblock %}</div>

    </body>
</html>