<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="../static/styles/basestyle.css">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
    
    </head>

    <body>

        <div class="navbar">
            {% if user.is_authenticated %}
                <a href="/">Home</a>
                <a href="contact">Contact</a>
                <div class="account-dropdown">
                    <button class="dropbtn" href="account">Account</button>
                    <div class="dropdown-stuff">
                        <a href="details">Account Details</a>
                        <a href="change_password">Change Password</a>
                        <a href="logout">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="login">Login</a>
                <a href="create_account">Create Account</a>
            {% endif %}
            {% if user.isAdmin == 1 %}
                <a href="user_list">User List</a>
            {% endif %}
            
        </div>

        <!-- loop to display alerts -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="bad-alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="good-alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="content-container">{% block content %}{% endblock %}</div>

    </body>
</html>