{% extends "base.html" %} {% block title %}Change Password{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/styles/formstyle.css">

<form method="POST">
    <h2 align="center">Change Password</h2>

    <div class="account-form">
        <label for="pswd1">New Password:</label>
        <br />
        <input
            type="password"
            placeholder="Enter password"
            id="pswd1"
            name="pswd1"
            required
        >
    </div>

    <div class="account-form">
        <label for="pswd2">Confirm Password:</label>
        <br />
        <input
            type="password"
            placeholder="Enter password"
            id="pswd2"
            name="pswd2"
            required
        >
    </div>

    <div class="button-form">
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}