{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/styles/formstyle.css">

{% for field, errors in form.errors.items() %}
    <div class="bad-alert">
        {{ ''.join(errors) }}
    </div>
{% endfor %}

<form method="POST">
    {{form.csrf_token}}
    
    <h2 align="center">Login</h2>
    <div class="account-form">
        <label for="email">Email:</label>
        <br />
        {{form.email()}}
        <label for="pswd">Password:</label>
        <br />
        {{form.pswd()}}
    </div>

    <div class="button-form">
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}