{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/styles/formstyle.css">

<form method="POST">
    <h2 align="center">Login</h2>
    <div class="account-form">
        <label for="email">Email:</label>
        <br />
        <input
            type="text"
            placeholder="Enter Email"
            id="email"
            name="email"
            required
        >
    </div>

    <div class="account-form">
        <label for="pswd">Password:</label>
        <br />
        <input
            type="password"
            placeholder="Enter password"
            id="pswd"
            name="pswd"
            required
        >
    </div>

    <div class="account-form">
        <label for="remember">
            <input
                type="checkbox"
                name="remember"
            > Remember Me
        </label>
    </div>

    <div class="button-form">
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}