{% extends "base.html" %} {% block title %}Reset Password{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/styles/formstyle.css">

{% for field, errors in form.errors.items() %}
    <div class="bad-alert">
        {{ ''.join(errors) }}
    </div>
{% endfor %}

<form method="POST">
    {{form.csrf_token}}
    
    <h2 align="center">Reset Password</h2>

    <div class="account-form">
        <label for="pswd1">New Password:</label>
        <br />
        {{form.pswd1()}}

        <label for="pswd2">Confirm New Password:</label>
        <br />
        {{form.pswd2()}}
    </div>

    <div class="button-form">
        <button type="submit">Reset</button>
    </div>
</form>

{% endblock %}